.ipynb_checkpoints
Advanced Learning Algorithms/Week 2/Back Propagation/__pycache__
Advanced Learning Algorithms/Week 2/Back Propagation/.ipynb_checkpoints
Advanced Learning Algorithms/Week 2/Back Propagation/archive
Advanced Learning Algorithms/Week 2/Back Propagation/betaversion
Advanced Learning Algorithms/Week 2/Back Propagation/deeplearning.mplstyle
Advanced Learning Algorithms/Week 2/Derivatives/archive
Advanced Learning Algorithms/Week 2/Derivatives/betaversion
Advanced Learning Algorithms/Week 2/Derivatives/images
Advanced Learning Algorithms/Week 2/Derivatives/deeplearning.mplstyle
Advanced Learning Algorithms/Week 2/Practical Lab/__pycache__
Advanced Learning Algorithms/Week 2/Practical Lab/logs
Advanced Learning Algorithms/Week 2/Practical Lab/deeplearning.mplstyle
Advanced Learning Algorithms/Week_3/Diagnosing_Bias_and_Variance/__pycache__
Advanced Learning Algorithms/Week_3/Diagnosing_Bias_and_Variance/images
Advanced Learning Algorithms/Week_3/Diagnosing_Bias_and_Variance/deeplearning.mplstyle
Advanced Learning Algorithms/Week_3/Model_Evaluation_and_Performance/__pycache__
Advanced Learning Algorithms/Week_3/Model_Evaluation_and_Performance/deeplearning.mplstyle
Advanced Learning Algorithms/Week_3/Model_Evaluation_and_Performance/images
Advanced Learning Algorithms/Week_3/Practice_Lab/archive
Advanced Learning Algorithms/Week_3/Practice_Lab/deeplearning.mplstyle
Advanced Learning Algorithms/Week_4/Decision_Trees/__pycache__
Advanced Learning Algorithms/Week_4/Decision_Trees/images
Advanced Learning Algorithms/Week_4/Decision_Trees/deeplearning.mplstyle
Advanced Learning Algorithms/Week_4/Tree_Ensembles/images
Advanced Learning Algorithms/Week_4/Tree_Ensembles/deeplearning.mplstyle
Reinforcement Learning/State_Action_Value_Function/__pycache__